<main role="main">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="second-slide" src="https://image.noelshack.com/fichiers/2018/08/4/1519313138-ruby.jpg" alt="Second slide">
				<div class="container">
					<div class="carousel-caption text-perso">
						<p><a class="btn btn-sm btn-danger" href="https://www.thehackingproject.org/" role="button">En savoir plus</a></p>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<img class="first-slide" src="https://image.noelshack.com/fichiers/2018/08/4/1519329605-youth4regions.jpg" alt="First slide">
				<div class="container">
					<div class="carousel-caption text-top">
						<h1 class="text-top">The Hacking Project</h1>
						<p class="text-top">Education & nouvelle génération.</p>
					</div>
					<div class="carousel-caption button-signup">
					<p><a class="btn btn-info" href="/users/sign_up" role="button">S'inscrire</a></p>
				</div>
				</div>
			</div>
			<div class="carousel-item img-transpa">
				<img class="third-slide" src="https://image.noelshack.com/fichiers/2018/08/4/1519313138-code.jpg" alt="Third slide">
			</div>
		</div>
		<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>


<!-- Marketing messaging and featurettes
	================================================== -->
	<!-- Wrap the rest of the page in another container to center all the content. -->

	<div class="container marketing">

		<!-- START THE FEATURETTES -->

		<hr class="featurette-divider">


		<div class="text-align">
			<div class="align">
				<h2 class="featurette-heading">Des inscriptions de folie. </h2><p class="text-muted"> Entrez dans la matrice.</p>
				<p class="lead">Crée des magnifiques pages d'inscription avec CSS.</p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-fluid mx-auto img-border" src="https://image.noelshack.com/fichiers/2018/08/4/1519313138-matrix.png" alt="Generic placeholder image">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="text-align">
			<div class="align2 order-md-2">
				<h2 class="featurette-heading">Partager la connaissance.</h2> <p class="text-muted">Est la clé de la réussite.</p>
				<p class="lead">The hacking project est une formation en <em>peer-learning</em>, tu apprends en groupe et tu partages les galères.</p>
			</div>
			<div class="col-md-5">
				<img class="featurette-image img-fluid mx-auto img-border" src="https://image.noelshack.com/fichiers/2018/08/4/1519323195-peer-learning.jpg" alt="Generic placeholder image">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="text-align">
			<div class="align">
				<h2 class="featurette-heading">Le code c'est cool.</h2> <p class="text-muted">La débrouille aussi.</p>
				<p class="lead">Une forme d'éducation toute nouvelle qui te prépare aux métiers du numérique, tout en repoussant tes limites pour te rendre meilleur !</p>
			</div>
			<div class="col-md-5 order-md-1">
				<img class="featurette-image img-fluid mx-auto img-border" src="https://image.noelshack.com/fichiers/2018/08/4/1519321780-teuf-land.jpg" alt="Generic placeholder image">
			</div>
		</div>

		<hr class="featurette-divider">

		<div class='text-center'>
			<h1>Témoignages</h1>
		</div>

		<br>

		<!-- Three columns of text below the carousel -->
		<div class="row">
			<div class="col-lg-4">
				<img class="rounded-circle" src="https://image.noelshack.com/fichiers/2018/08/4/1519315403-temoignage1.jpg" alt="Generic placeholder image" width="140" height="140">
				<h2>Juan-Pablo ANGARITA</h2>
				<p>"J'ai fait The Hacking Project pour hacker mon process commercial et faire plus. C'etait également pour moi un moyen d'avoir une meilleure rémunération." </p>
				<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<img class="rounded-circle" src="https://image.noelshack.com/fichiers/2018/08/4/1519315403-temoignage2.jpg" alt="Generic placeholder image" width="140" height="140">
				<h2>Isabelle Bonnet</h2>
				<p>En plus de me donner suffisamment de bases en code pour lancer AlgoSki, The Hacking Project m'a réappris à apprendre. Je recommande la formation ! </p>
				<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<img class="rounded-circle" src="https://image.noelshack.com/fichiers/2018/08/4/1519315403-temoignage3.jpg" alt="Generic placeholder image" width="140" height="140">
				<h2>Maxime Souillat</h2>
				<p>En deux mois, j'avais le niveau de développeur. Très pratique pour parler aux devs quand on fait du produit, ou pour tester à la volée plein de scripts rapides. </p>
				<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
			</div><!-- /.col-lg-4 -->
		</div><!-- /.row -->

		<hr class="featurette-divider">

		<!-- /END THE FEATURETTES -->

	</div><!-- /.container -->


	<!-- FOOTER -->
	<footer class="container">
		<p class="float-right"><a href="#">Back to top</a></p>
		<p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
	</footer>
</main>

<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
