<div class="footer1">
<footer class="footer-content">
	<p class="link-footer"><a href="#">Retour en haut</a></p>
	<a class="navbar-brand" href="/"><img src='https://cdn-images-1.medium.com/fit/c/200/200/1*jA8tdomUF7TSMCVtXyfejA.png' class='thp_logo'></a>
	<p class="center-footer">&copy; 2017-2018 Company, Inc. &middot; <a href="https://github.com/Briquetinho"> Adrien </a> &middot; <a href="https://github.com/kirito83">Calvin </a> &middot; <a href="https://github.com/zaouriste"> Zaouri </a></p>
</footer>
</div>