<header>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="#">THP</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"></a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#"></a>
				</li>
			</ul>
			<ul class='navbar-nav px-3'>
				<% if user_signed_in? %>
				<li class='nav-item'>
					<%= link_to "Déconnexion", destroy_user_session_path, { :class=>"nav-link" }, method: :delete %>
				</li class='nav-item'>
				<% else %>
				<li>
					<%= link_to "Connexion", new_user_session_path, { :class=>"nav-link" } %>
				</li>
				<li>
					<%= link_to "Inscription", new_user_registration_path, { :class=>"nav-link" } %>
				</li>
				<% end %>
			</ul>
		</div>
	</nav>
</header>